* {
  font-family: "Cormorant", serif;
}

.everything {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.congrats-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.congrats-text h1 {
  font-weight: 300;
  font-size: 50px;
  margin: 0;
  text-align: center;
  color: #c94638;
}

.congrats-text a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border: none;
  width: 150px;
  height: 30px;
  font-size: 20px;
  border: black solid 0.5px;
  margin-top: 30px;
}
